* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    z-index: 1;
}

header {
    display: flex;
    background: #08f;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    min-width: 100%;
    position: fixed;
    z-index: 100;
}

.logo {
    margin-left: 30px;
}

nav {
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.7)), url("images/image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #08f;
}

.hero h2 {
    font-size: 5rem;
    text-transform: capitalize;
}